<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TelerikBlazorSmartAIComponents</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grid-smart-ai-search">
               Grid Smart (AI) Search
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="combobox-smart-ai-search">
                ComboBox Smart (AI) Search
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pdfviewer-smart-ai-assistant">
                PdfViewer Smart (AI) Assistant
            </NavLink>
        </div>
    </nav>
</div>
